:root {
  --rich-black: #04080fff;
  --glaucous: #507dbcff;
  --powder-blue: #a1c6eaff;
  --columbia-blue: #bbd1eaff;
  --platinum: #dae3e5ff;
}

.app {
  height: 100vh;
  width: 100vw;
  background-color: var(--platinum);
  font-family: "Assistant", sans-serif;
  font-family: "Heebo", sans-serif;
  font-weight: 300;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
